/* header - start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding-top: 26px;
  box-sizing: border-box;
  width: 100vw;
}

.header_logo {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 45.51px;
}

.logo {
  margin-right: 45.51px;
  aspect-ratio: 1 / 1;
  height: 60%;
  width: auto;
  cursor: pointer;
}

header hr {
  height: 1px;
  width: 289px;
  border-color: rgba(255, 255, 255, 0.25);
}

nav {
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  flex-grow: 1;
  height: 100%;
  padding: 0px 45.51px;
  backdrop-filter: blur(8px);
}

.burger-btn {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 34px;
  width: 100%;
  align-items: center;
}

.nav-button {
  font-family: 'Barlow Condensed';
  font-size: 11;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 1.92px;
}

.nav-list li{
  box-sizing: border-box;
  align-content: center;
  width: fit-content;
  height: 100%;
  position: relative;
}

.nav-list li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.nav-list
li:hover::after {
  opacity: 1;
}

.nav-list
li.active:hover::after {
  opacity: 1;
}

.nav-list li.js-is-active::after {
  opacity: 0;
}

.js-is-active {
  border-bottom: 3px solid white;
}

.nav-button {
  font-family: var(--text-preset-8-font);
  font-size: var(--text-preset-8-size);
  font-weight: var(--text-preset-8-weight);
  line-height: var(--text-preset-8-line-height);
  letter-spacing: var(--text-preset-8-letter-spacing);
}

.numb {
  font-weight: bold;
}

@media (max-width: 848px) {
  header {
    padding-top: 0;
    height: 88px;
  }

  .header_logo {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_logo hr {
    display: none;
  }

  nav {
    flex: 1;
  }
}

@media (max-width: 561px) {
  .body {
    position: relative;
  }

  .header_logo {
    flex: 1;
    justify-content: flex-start;
    padding-left: 24px;
    height: 40px;
  }

  .logo {
    margin: 0;
    height: 100%;
  }

  .burger-btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    height: 100%;
    width: auto;
    cursor: pointer;
  }

  header {
    min-width: 100vw;
    flex-shrink: 0;
    flex-wrap: nowrap;
  }
  
  nav {
    justify-content: flex-end;
    flex: 1;
    padding: 0;
    padding-right: 24px;
    align-items: center;
    background-color: transparent;
    backdrop-filter: none;
    height: 40px;
  }

  .nav-list {
    display: none;
  }

  .js-active {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 254px;
    backdrop-filter: blur(10px);
    background: #0b0d1719;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 32px;
  }

  .js-active .burger-btn {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
  }

  .js-active .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
  }

  .js-active .nav-list li {
    width: 100%;
    height: 15px;
  }

  .js-active .nav-list .nav-button {
    display: flex;
    width: 100%;
    gap: 12px;
  }

  .js-active .nav-list li::after {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .js-active .js-is-active {
    border-bottom: 0;
    border-right: 3px solid white;
  }

  .js-active .burger-btn::before {
    content: X;
  }
}