body {
  background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100vw;
  height: 100vh;
}

/* main - start */

main {
  display: flex;
  padding: 91px 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 800px;
  min-width: 500px;
  height: 449.42px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-shrink: 1;
}

.second-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 267.13px;
  width: 100%;
}

.text {
  width: 384px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 17.07px;
}

.upper {
  font-family: var(--text-preset-5-font);
  font-size: 19.91px;
  font-weight: var(--text-preset-5-weight);
  line-height: auto;
  letter-spacing: 2.84px;
  color: var(--blue-300);
}

.middle {
  font-family: var(--text-preset-1-font);
  font-size: 102.4px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
}

.description {
  font-family: var(--text-preset-9-font);
  font-size: 12.8px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0px;
  color: var(--blue-300);
} 

.explore-button-container {
  width: 384px;
  height: 193px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-900);
  background-color: white;
  border-radius: 999px;
  width: 193.42px;
  height: 193.42px;
  font-family: var(--text-preset-4-font);
  font-size: 22.76px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  outline: 88px solid hsla(0, 0%, 100%, 0);
  transition: outline 0.4s ease-in-out;
}

.explore:hover {
  outline: 88px solid hsla(0, 0%, 100%, 0.25);
}

@media (max-width: 848px) {
  body {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero {
    width: 90vw;
    height: 95%;
  }

  .second-hero-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .text {
    text-align: center;
    height: fit-content;
    width: 100%;
  }

  .upper {
    font-family: var(--text-preset-5-font);
    font-size: var(--text-preset-5-size);
    font-weight: var(--text-preset-5-weight);
    letter-spacing: var(--text-preset-5-letter-spacing);
  }

  .middle {
   font-size: 10rem;
  }

  .description {
    font-size: 1.125rem;
    width: 80%;
    align-self: center;
  }


  .explore-button-container {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 42%;
  }

  .explore {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 2rem;
  }
}

@media (max-width: 561px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .upper {
    font-size: 1.75rem;
  }

  .middle {
    font-size: 9rem;
  }

  .description {
    font-size: 1.125rem;
  }

  .explore {
    font-size: 2rem;
  }
}